body {
    font-family: Helvetica;
}
.btn-dark-blue {
    @apply bg-sky-900 hover:bg-sky-800 text-white;
}
.sidebar-link:hover, .sidebar-link.active {
    @apply bg-gray-100 text-sky-900;
}
.sidebar-link svg {
    @apply transition-colors duration-200;
}
.sidebar-link:hover svg, .sidebar-link.active svg {
    @apply text-sky-900;
}
.pagination-link {
    @apply px-3 py-1 border border-gray-300 rounded hover:bg-sky-50 hover:text-sky-900 transition font-medium;
}
.pagination-current {
    font-weight: 900;
    color: cornflowerblue;
}
.pagination-first-last {
    @apply px-3 py-1 border border-gray-300 rounded hover:bg-sky-50 hover:text-sky-900 transition font-bold;
}
.sort-icon {
    @apply inline-block text-xs text-gray-400 ml-1 transition-transform duration-200;
}
.sort-asc .sort-icon {
    @apply text-sky-700 transform rotate-0;
}
.sort-desc .sort-icon {
    @apply text-sky-700 transform rotate-180;
}

.py-header {
    padding-top: 0;
    padding-bottom: 0;
}

.py-0.5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.p-09rem {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-padding {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}
.all-employees {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.combo-btn {
    width: 12em;
    padding-left: 1em;
    padding-right: 1em;
}
